.phone-view {
    position: relative;
    max-width: 40vw;
    max-height: 40vw;
    margin: 0 auto;
    border: 3px solid white;
    align-self: center;
}

.phone-view::before {
    content: "";
    filter: blur(1.5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #55e24b;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.816) 0.5px, transparent 0.5px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.816) 0.5px, transparent 0.5px);
    background-size: 8px 8px;
    z-index: -1;
}

.battery {
    grid-column-start: 4;
    width: 2vw;
    height: 3vw;
}

.header {
    padding-top: 0.5vw;
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 1fr;
    background-color: #6eaf41;
    background-size: 8px 8px;
    z-index: -1;
    border-bottom: solid 2px black;
}

.header::before {
    filter: blur(1.5px);
}

.header-text {
    color: #ffffff;
    font-weight: bold;
    font-size: 1vw;
}

.signal-top {
    margin-left: 0.5vw;
    grid-column-start: 1;
    /* grid-row: 1 / span 2; */
  }

  .signal-img {
    width: 130%;
    height: 80%; /* Set the height to 100% to span the entire parent */
  }

.signal-bot {
    align-self: end;
}

.contacts {
    margin-left: 1vw;
    font-size: 3vw;
    align-self: end;
    font-family: 'VT323', monospace;
}

.hour {
    margin-right: 0.5vw;
    margin-top: -0.5vw;
    justify-self: end;
    font-size: 2vw;
    align-self: start;
    font-family: 'VT323';
}

/* .line {
    margin-bottom: 0.5vw;
    align-self: end;
    margin-left: 0.5vw;
    width: 95%;
    height: 20%;
    background-color: #000;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5vw;
    padding: 0.5vw;
}

.grid-item {
    background-color: transparent;
    padding: 4vw;
    text-align: center;
    font-size: 1vw;
    color: #55e24b;
}

.icon {
    align-self: center;
    justify-self: center;
    height: 70%;
    width: 70%;
    /* border: 1px solid yellow; */
}

.phone {
    height: 70%;
    width: 70%;
}

.fb {
    height: 90%;
    width: 90%;
    border: 0;
}

.email {
    height: 100%;
    width: 100%;
}

.link {
    text-decoration: none;
    color: white;
}