.whole-page {
    background-color: rgba(0, 0, 0, 0.4);
}

.da-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
    height: 100%;
}

.vid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: end;
}

.ivan {
    max-width: 80%;
    max-height: 80%;
}


@keyframes caretAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

