body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'DJGROSS';
  src: url('assets/DJGROSS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rock Salt';
  src: url('https://fonts.gstatic.com/s/rocksalt/v12/7Auwp_0qiz-afTUGe6BHiVM9iA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.special-text {
  font-family: 'Rock Salt', cursive;
}